/* reset and setup */

* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
	height: 100%;
	width: 100%;
    display: block;
}

body {
    font-family: 'Merriweather', serif;
	background-color: tan;
	color: white;
	margin: 0.5rem;
	border-right: 1px solid black;
	border-left: 1px solid black;
}

a {
    text-decoration: none;
    color: inherit;
    font-style: inherit;
    font-size: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* nav bar */

.nav-bar__list {
	display: flex;
	justify-content: space-evenly;
	position: relative;
	list-style: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.nav-bar__list--item {
	text-align: center;
	padding: 0.5rem 0.75rem;
}

.nav-bar__marker {
	position: absolute;
	left: 0;
	height: 100%;
	width: 0;
	transition: 1s;
	z-index: -1;
	background-image: repeating-linear-gradient(
		45deg,
		black,
		black 1px,
		transparent 1px,
		transparent 10px
		);
}

.right-leaning-stripes {
	background-image: repeating-linear-gradient(
		135deg,
		black,
		black 1px,
		transparent 1px,
		transparent 10px
		);
}

/* about section */

.about-section {
	height: 60vh;
    position: relative;
    text-align: right;
    border-bottom: 1px solid black;
}

.stripey {
    height: 100%;
    width: 100%;
    clip-path: polygon(0% 0%, 50% 0%, 25% 100%, 0% 100%);
    background-image: repeating-linear-gradient(
		135deg,
		black,
		black 1px,
		transparent 1px,
		transparent 10px
		);
    background-repeat: no-repeat;
    animation: moveInBottomUp 4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.right-stripey {
    height: 100%;
    width: 100%;
    clip-path: polygon(75% 0%, 100% 0%, 100% 100%, 50% 100%);
    background-image: repeating-linear-gradient(
		45deg,
		black,
		black 1px,
		transparent 1px,
		transparent 10px
		);
    background-repeat: no-repeat;
    animation: moveInBottomUp 4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.about-section__text {
    font-weight: 300;
    font-style: normal;
    position: absolute;
    top: 28vw;
    left: 37vw;
    transform: translate(-50%, -50%);
    background-color: tan;
    border: 1px double black;
    font-size: 2.5vh;
    outline: 5px solid tan;
    text-align: center;
}

.about-section__name {
    border-top: 1px double black;
    border-right: 1px double black;
    border-left: 1px double black;
    padding: 0.5rem 1rem 0;
    margin: 2px;
}

.about-section__title {
    border-bottom: 1px double black;
    border-left: 1px double black;
    border-right: 1px double black;
    padding: 0.5rem 1rem;
    margin: 2px;
    font-style: italic;
    font-size: 1.5vw;
}

@keyframes moveInBottomUp {
    0% {
        /* background-position-y: -80vh;
        background-position-x: -200vw; */
        background-position: -200vw;
    }
    100% {
        background-position: 0;
    }
}

/* projects section */

.projects-section {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    gap: 1rem;
    color: black;
    border-bottom: 1px solid black;
    padding: 1rem;
}

.projects-section__project {
    height: 33vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    place-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.projects-section__project:hover {
    /* transform-style: preserve-3d; */
    perspective: 10px;
    transition: all 5s;
    transform: skewY(180deg);
}

.projects-section__project--links {
    padding: 1rem;

}